
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
  }
  

  form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #555;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 20px;
  }
  

  button[type="submit"] {
    display: inline-block;
    background-color: #0077cc;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #005fa3;
  }
  
  
  h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #333;
  }

  h2{
    text-align: center;
    font-size: 30px;
  }

  p{
    text-align: center;
    font-size: 30px;
  }